body {
    background-color: #000000;
    font-family: 'Courier New';
}
#pong-container{
    width: 600px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #10FF10;
}

#pong-container > div {
    position: absolute;
    background-color: #10FF00;
}

.player {
    width: 10px;
    height: 50px;
    border-radius: 4px
}

#p1 {
    left: 5px;
}

#p2 {
    left: 585px;
}

#ball {
    border-radius: 10px;
    height: 10px;
    width: 10px;
}

#separator {
    width: 1px;
    background-color: #006F00 !important;
    height: 100%;
    left: 50%;
}

.scores {
    bottom: -60px;
    width: 100%;
    text-align: center;
    background-color: #000000 ! important;

}

.scores > div {
    display: inline-block;
    width: 49%;
    color: #10FF00;
    font-size: 2em;
}

.title {
    top: -60px;
    width: 100%;
    text-align: center;
    background-color: #000000 ! important;
    color: #10FF00;
    font-size: 2em;
}